@font-face {
  font-family: myFirstFont;
  src: url('../fonts/upheavtt.ttf')
}


h1 {
  margin: 0;
  font-family: myFirstfont;

}

h3 {
  margin: 0;
}

ul{
    text-align: center;
    list-style-position: inside;

}

button {
    border: none;
    text-decoration: none;
}

#bg-buttons {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 5vmin;
}

#stat-list img{
    height: 3vmin;

}

.statContainer {
  font-family: myFirstfont;
  margin: 0 auto;
  /* background-image: url('../images/Full_Death_Note.png');
  background-repeat: no-repeat;
  background-size: cover; */
  opacity: .95;

}

.item-logo {
    height: 10vmin;
}

.selection-bar {
  width: 100;
  flex-direction: row;

}

.selector {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0;
}

.choose {
  margin-top: 10px;
  height: 10vmin;
  transition: height 1s;
  z-index: 99;
  justify-content: space-evenly;
  border-bottom: 0;
}

.choose:hover {
  height: 12vmin;
  border-bottom: 0;
}
