@font-face {
  font-family: Upheavtt;
  src: url("../fonts/upheavtt.ttf");
}

h1 {
  margin: 0;
  font-family: Upheavtt;
}

.item-logo {
  height: 10vmin;
}

#stat-list img {
  height: 3vmin;
}

.character-query {
  align-items: center;
  color: white;
  /* position: absolute; */
}


/* This is for every row on the page (Header, Content, Footer) */

.row {
  display: flex;
  /* overflow: hidden; */
  margin: 1em 0;
  color: #fff;
  align-items: center;
  width: 100%;
}

/* This is the header row for the character select and etc */

.row.header {
  top: 0;
}


.selection-bar {
  width: 95;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 999;
}

.selector {
  margin: 0 auto;
  display: flex;
  max-width: 50%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0;
}

.choose {
  margin-top: 10px;
  height: 10vmin;
  min-height: 5vmin;
  transition: height 1s;
  z-index: 99;
  justify-content: space-evenly;
  border-bottom: 0;
}

.choose:hover {
  height: 12vmin;
  border-bottom: 0;
}

/* This is the main body of the page */

.search-bar {
  width: 50%;
margin: 0 auto;
padding-top: 25px;

}

.css-1pahdxg-control {
  box-shadow: none;
}


.statContainer {
  align-items: center;
  font-family: Upheavtt;
  margin: 0 auto;
  opacity: 0.95;
}

/* This is for the two columns in the center of the page */

.column {
  position: relative;
  font-family: Upheavtt;
  flex: 50%;
  padding-top: 0;
  width: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-height: 50vh;
  min-height: 50vh;
}

/* This is the container on the left which is supposed to hold the items you've collected */

#item-list {
  padding: 1em;
  text-align: center;

  height: 100%;
}

#item-list.column {
  height: 100%;
  text-align: center;
}

.item-containers {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* This is the list of your stats on the right  */

#stat-list {
  padding: 1em;
  /* background-color: #5cb85c; */
  text-align: center;
}

/* This is allegedly my footer */

.footer {
  color: white;
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  font-family: Upheavtt;
}

/* generic mobile styles  */
@media only screen and (max-width: 812px) {
  .selector {
    max-width: 95%;
    justify-content: space-between;
  }
  .choose {
    height: 15vmin;
    justify-content: space-evenly;
  }
  .choose:hover {
    height: 15vmin;
  }
  .column {
    max-height: 15vh;
    min-height: 15vh;
    flex: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em 0;
    color: #fff;
    align-items: center;
    width: 100%;
  }

  #item-list.column {
    text-align: center;
  }

  #stat-list.column {
    text-align: center;
  }
  /* #item-list{
  align-items: flex-start;
} */
}
